body{
    background-color: #E6CCA9;
}
.heading{
    text-align:center;
    position: relative;
    top:0%;
    font: size 0.5em;
    background-color: grey;
    border:1px solid black;

}
h2{
    text-align: center;
}
.chart-wrap.vertical{
    position: relative;
    height:400px;
    width:400px;
    margin:auto;
    
    
}

.chart-wrap.vertical .grid{
    transform: rotate(-90deg);
    
    

}
.chart-wrap .grid{
    position: relative;
    left:10%;
    height:100%;
    width:100%;
    padding:5px 0 5px 0;
    border-left:3px solid black;
    border-top: 3px solid black;
    background:repeating-linear-gradient(90deg,transparent,transparent,transparent
    ,transparent,transparent,transparent,
    transparent,transparent,transparent, black 10%);

    
}
.chart-wrap .grid .bar{
    width:var(--bar-value);
    height:15%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 3px;
}
.chart-wrap.vertical .grid .bar::after{
    transform: translateY(-50%) rotate(90deg);
    display:block;
}
.chart-wrap .bar::after{
    content: attr(data-name);
    margin-left: 100%;
    padding:10px;
    display:inline-block;
    white-space: nowrap;
}
.chart-wrap .grid::before{
    font-size: 0.8em;
    font-weight: bold;
    content:"0%";
    position:absolute;
    
    top:-1.5em;

}
.chart-wrap .grid::after{
    font-size: 0.8em;
    font-weight: bold;
    content:"100%";
    position:absolute;
    right:-1.5em;
    top:-1.5em;

}
p{
    font: size 0.5em;
    position:relative;
    left:25%;
    font-weight: bold;
}
.TABLE{
    position: absolute;
    bottom:3%;
    background-color: grey;
    
}
.ttl2{
    text-align: center;
}
.img1{
    border:2px solid black;
    width:75%;
    position: relative;
    left:12.5%;
}
